In [1]:
import gensim
import logging

#import string
from nltk.tokenize import RegexpTokenizer # tokenizing
from nltk.corpus import stopwords  # list of stop words
from nltk.stem.wordnet import WordNetLemmatizer # lemmatizer

# Logging code taken from http://rare-technologies.com/word2vec-tutorial/
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

# Loading model

In [2]:
path = "/Users/stevenfelix/Documents/DataScience_local/Insight/"
file = 'model_full_30M_sg_200_5_2'
model_full = gensim.models.word2vec.Word2Vec.load(path+file)

2018-01-17 10:58:35,293 : INFO : loading Word2Vec object from /Users/stevenfelix/Documents/DataScience_local/Insight/model_full_30M_sg_200_5_2
2018-01-17 10:58:36,096 : INFO : loading wv recursively from /Users/stevenfelix/Documents/DataScience_local/Insight/model_full_30M_sg_200_5_2.wv.* with mmap=None
2018-01-17 10:58:36,097 : INFO : loading syn0 from /Users/stevenfelix/Documents/DataScience_local/Insight/model_full_30M_sg_200_5_2.wv.syn0.npy with mmap=None
2018-01-17 10:58:36,372 : INFO : setting ignored attribute syn0norm to None
2018-01-17 10:58:36,373 : INFO : loading syn1neg from /Users/stevenfelix/Documents/DataScience_local/Insight/model_full_30M_sg_200_5_2.syn1neg.npy with mmap=None
2018-01-17 10:58:36,611 : INFO : setting ignored attribute cum_table to None
2018-01-17 10:58:36,612 : INFO : loaded /Users/stevenfelix/Documents/DataScience_local/Insight/model_full_30M_sg_200_5_2

In [3]:
q="How to find all questions that were duplicates of another question".split()
model_full.predict_output_word(q)

[('that', 0.00012694114),
 ('all', 0.00011346572),
 ('row', 0.0001107741),
 ('one', 0.00010965685),
 ('element', 0.00010931836),
 ('column', 0.00010459485),
 ('match', 0.00010246703),
 ('list', 9.8215613e-05),
 ('number', 9.4541174e-05),
 ('table', 9.423896e-05)]

In [4]:
test_queries=['python binomial regression', 'dropping duplicates by index in pandas dataframe',
             'latent community topic analysis', 'statsmodels mixed effects']

# Prediction algorithm

In [56]:
tokenizer = RegexpTokenizer(r'\w+') # tokens separated by white spice
stops = set(stopwords.words('english')) # list of english stop words
lemma = WordNetLemmatizer()

def clean(title, rmv_stop_words=False):
    tokens = tokenizer.tokenize(title.lower())     # tokenize
    if rmv_stop_words:
        tokens = [i for i in tokens if not i in stops] # remove stop words
    normalized = [lemma.lemmatize(token) for token in tokens] # lemma
    return normalized

def predict_similar(query, rmv_stop_words=False):
    l = []
    q = clean(query, rmv_stop_words=rmv_stop_words)
    print('Original query: {}'.format(query))
    #print(q)
    print('\nTry these related searches:')
    for word in q:
        missing = q[:]
        ind = q.index(word)
        missing.remove(word)
        for syn in model_full.most_similar([word],topn=5):
            full = missing[:]
            full.insert(ind,syn[0])
            l.append(' '.join(full))
    return l

def predict_substitution(query):
    q = clean(query)
    print('Original query: {}'.format(query))
    #print(q)
    print('\nTry these related searches:')

In [59]:
preds = predict_similar("loop over pandas dataframe")

Original query: loop over pandas dataframe

Try these related searches:

In [61]:
s = pd.DataFrame(preds)
s

                                          0
0              looping over panda dataframe
1            iteration over panda dataframe
2              foreach over panda dataframe
3              forloop over panda dataframe
4             iterates over panda dataframe
5              loop through panda dataframe
6             loop throught panda dataframe
7           loop underneath panda dataframe
8   loop keyvaluecollection panda dataframe
9               loop trough panda dataframe
10            loop over dataframe dataframe
11           loop over multiindex dataframe
12           loop over dataframes dataframe
13        loop over datetimeindex dataframe
14             loop over read_csv dataframe
15                    loop over panda panda
16               loop over panda dataframes
17               loop over panda multiindex
18            loop over panda datetimeindex
19                    loop over panda cbind

**notes**:
  - 'iteration' substituations work well, possibly because verb?
  -

In [17]:
model_full.most_similar(['someone'])

[('somebody', 0.859092116355896),
 ('please', 0.7342624068260193),
 ('somone', 0.7300513982772827),
 ('anyone', 0.7129900455474854),
 ('me', 0.6949419975280762),
 ('anybody', 0.6632101535797119),
 ('explain', 0.6601981520652771),
 ('kindly', 0.6287382245063782),
 ('expalin', 0.6191532611846924),
 ('comtimeouts', 0.6093792915344238)]

In [16]:
predict_similar('Someone flagged my question as already answered, but it\'s not', rmv_stop_words=True)

Original query: Someone flagged my question as already answered, but it's not

Try these related searches:


somebody flagged question already answered
please flagged question already answered
somone flagged question already answered
anyone flagged question already answered
me flagged question already answered


someone flagging question already answered
someone abused question already answered
someone marked question already answered
someone tripped question already answered
someone treated question already answered


someone flagged confusion already answered
someone flagged doubt already answered
someone flagged clarification already answered
someone flagged regarding already answered
someone flagged ques already answered


someone flagged question allready answered
someone flagged question been answered
someone flagged question previously answered
someone flagged question aready answered
someone flagged question alread answered


someone flagged question already unanswered
someone flagged question already dialed
someone flagged question already answering
someone flagged question already dialled
someone flagged question already attended

In [19]:
import pandas as pd

In [21]:
path='/Users/stevenfelix/Downloads/'
file='user-ct-test-collection-01.txt'
data = pd.read_table(path+file, delimiter='\t')
data.iloc[0:100,:]

,AnonID,Query,QueryTime,ItemRank,ClickURL
0,142,rentdirect.com,2006-03-01 07:17:12,NaN,NaN
1,142,www.prescriptionfortime.com,2006-03-12 12:31:06,NaN,NaN
2,142,staple.com,2006-03-17 21:19:29,NaN,NaN
3,142,staple.com,2006-03-17 21:19:45,NaN,NaN
4,142,www.newyorklawyersite.com,2006-03-18 08:02:58,NaN,NaN
5,142,www.newyorklawyersite.com,2006-03-18 08:03:09,NaN,NaN
6,142,westchester.gov,2006-03-20 03:55:57,1.0,http://www.westchestergov.com
7,142,space.comhttp,2006-03-24 20:51:24,NaN,NaN
8,142,dfdf,2006-03-24 22:23:07,NaN,NaN
9,142,dfdf,2006-03-24 22:23:14,NaN,NaN
10,142,vaniqa.comh,2006-03-25 23:27:12,NaN,NaN
11,142,www.collegeucla.edu,2006-04-03 21:12:14,NaN,NaN
12,142,www.elaorg,2006-04-03 21:25:20,NaN,NaN
13,142,207 ad2d 530,2006-04-08 01:31:04,NaN,NaN
14,142,207 ad2d 530,2006-04-08 01:31:14,1.0,http://www.courts.state.ny.us
15,142,broadway.vera.org,2006-04-08 08:38:23,NaN,NaN
16,142,broadway.vera.org,2006-04-08 08:38:31,NaN,NaN
17,142,vera.org,2006-04-08 08:38:42,1.0,http://www.vera.org
18,142,broadway.vera.org,2006-04-08 08:39:30,NaN,NaN
19,142,frankmellace.com,2006-04-09 02:19:24,NaN,NaN
20,142,ucs.ljx.com,2006-04-09 02:20:44,NaN,NaN
21,142,attornyleslie.com,2006-04-13 00:25:27,NaN,NaN
22,142,merit release appearance,2006-04-22 23:51:18,NaN,NaN
23,142,www.bonsai.wbff.org,2006-05-06 08:49:34,NaN,NaN
24,142,loislaw.com,2006-05-12 22:43:36,NaN,NaN
25,142,rapny.com,2006-05-18 09:21:57,NaN,NaN
26,142,whitepages.com,2006-05-19 19:36:31,NaN,NaN
27,217,lottery,2006-03-01 11:58:51,1.0,http://www.calottery.com
28,217,lottery,2006-03-01 11:58:51,1.0,http://www.calottery.com
29,217,ameriprise.com,2006-03-01 14:06:23,1.0,http://www.ameriprise.com
...,...,...,...,...,...
70,1268,www.buckmountianestates.com,2006-03-24 18:53:10,NaN,NaN
71,1268,idx.techsolsc.com,2006-05-07 00:58:21,NaN,NaN
72,1268,www.bridleandbit.com,2006-05-09 21:34:23,NaN,NaN
73,1268,gall stones,2006-05-11 02:12:51,NaN,NaN
74,1268,gallstones,2006-05-11 02:13:02,1.0,http://www.niddk.nih.gov
75,1268,http www.flickr.com photos 88145967 n00 243685...,2006-05-12 00:09:54,NaN,NaN
76,1268,http www.flickr.com photos 88145967 n00 243685...,2006-05-12 00:10:26,NaN,NaN
77,1268,href a href alt a http www.flickr.com photos 8...,2006-05-12 01:28:30,NaN,NaN
78,1268,http www.flickr.com photos 88145967 n00 243685...,2006-05-12 10:41:27,NaN,NaN
79,1268,www.acevedoarabians.com,2006-05-21 21:28:21,NaN,NaN
80,1268,adbuyer3.lycos.com,2006-05-31 14:10:52,NaN,NaN
81,1268,www.pinerplantation.com,2006-05-31 21:24:08,NaN,NaN
82,1268,www.pinerplantation.com,2006-05-31 21:24:30,NaN,NaN
83,1268,www.pinerplantation.com,2006-05-31 21:24:56,NaN,NaN
84,1326,files,2006-03-01 17:36:08,NaN,NaN
85,1326,www.kmcwheel.com,2006-03-06 17:31:55,NaN,NaN
86,1326,dellcomputers,2006-03-06 20:09:58,NaN,NaN
87,1326,www.ameicaneaglewheel.com,2006-03-09 19:09:52,NaN,NaN
88,1326,cascadefamilymedical,2006-03-14 11:36:57,NaN,NaN
89,1326,cascadefamilymedical.com,2006-03-14 11:39:49,NaN,NaN
90,1326,milaniwheel.com,2006-03-14 12:37:30,NaN,NaN
91,1326,www.ameicaneaglewheel.com,2006-03-14 18:53:20,NaN,NaN
92,1326,www.ameicaneaglewheel.com,2006-03-15 12:27:48,NaN,NaN
93,1326,pop up adds,2006-03-15 20:07:38,NaN,NaN
94,1326,pop up adds,2006-03-15 20:08:29,NaN,NaN
95,1326,the childs wonderland company,2006-03-21 11:50:10,NaN,NaN
96,1326,the child's wonderland company,2006-03-21 11:59:03,6.0,http://www.wonderlandtheatre.com
97,1326,the child's wonderland company,2006-03-21 12:00:55,NaN,NaN
98,1326,the child's wonderland company grand rapids mi...,2006-03-21 12:01:24,NaN,NaN
99,1326,the child's wonderland company grand rapids mi...,2006-03-21 12:01:59,NaN,NaN

In [30]:
import numpy as np

In [37]:
'.com' in 'rentdirect.com'

True

In [48]:
rem = ['.gov', '.com', '.edu', 'www', '.net', 'http', '.org']
for x in rem:
    data = data[[(x not in str(v)) for _,v in data.Query.iteritems()]]

In [49]:
data.shape

(2821032, 5)

In [50]:
data.iloc[1:200,:]

,AnonID,Query,QueryTime,ItemRank,ClickURL
9,142,dfdf,2006-03-24 22:23:14,NaN,NaN
13,142,207 ad2d 530,2006-04-08 01:31:04,NaN,NaN
14,142,207 ad2d 530,2006-04-08 01:31:14,1.0,http://www.courts.state.ny.us
22,142,merit release appearance,2006-04-22 23:51:18,NaN,NaN
27,217,lottery,2006-03-01 11:58:51,1.0,http://www.calottery.com
28,217,lottery,2006-03-01 11:58:51,1.0,http://www.calottery.com
30,217,susheme,2006-03-02 12:31:08,NaN,NaN
33,217,p; .; p;' p; ' ;' ;';,2006-03-09 12:09:27,NaN,NaN
34,217,p; .; p;' p; ' ;' ;';,2006-03-09 12:09:35,NaN,NaN
36,217,buddylis,2006-03-16 15:23:33,NaN,NaN
38,217,lottery,2006-03-27 14:10:38,1.0,http://www.calottery.com
39,217,lottery,2006-03-27 16:34:59,1.0,http://www.calottery.com
46,217,-,2006-05-18 18:20:10,1.0,http://www.theonering.net
48,217,-,2006-05-22 16:48:42,NaN,NaN
49,217,vietnam,2006-05-22 17:43:42,NaN,NaN
50,217,vietnam,2006-05-22 17:43:42,NaN,NaN
51,217,vietnam,2006-05-22 17:43:44,NaN,NaN
52,217,vietnam,2006-05-22 18:03:24,NaN,NaN
53,217,vietnam,2006-05-22 18:03:24,NaN,NaN
54,217,vietnam,2006-05-22 18:03:27,NaN,NaN
55,217,-,2006-05-23 15:41:48,NaN,NaN
56,993,myspace.co,2006-03-01 12:13:36,NaN,NaN
58,993,googl,2006-03-01 15:03:25,NaN,NaN
60,1268,ozark horse blankets,2006-03-01 17:39:28,8.0,http://www.blanketsnmore.com
73,1268,gall stones,2006-05-11 02:12:51,NaN,NaN
74,1268,gallstones,2006-05-11 02:13:02,1.0,http://www.niddk.nih.gov
84,1326,files,2006-03-01 17:36:08,NaN,NaN
86,1326,dellcomputers,2006-03-06 20:09:58,NaN,NaN
88,1326,cascadefamilymedical,2006-03-14 11:36:57,NaN,NaN
93,1326,pop up adds,2006-03-15 20:07:38,NaN,NaN
...,...,...,...,...,...
274,2178,mnf-iraq.mil,2006-04-13 20:59:56,NaN,NaN
275,2178,mnf-iraq.mil,2006-04-13 20:59:59,NaN,NaN
276,2178,army.mil,2006-04-13 21:03:22,NaN,NaN
277,2178,us constitution center,2006-04-19 22:06:10,1.0,http://www.constitutioncenter.org
278,2178,philadelphia rocky statue,2006-04-19 22:12:42,7.0,http://uk.holidaysguide.yahoo.com
279,2178,philadelphia art museum,2006-04-19 22:15:23,1.0,http://www.philamuseum.org
280,2178,us constitution center,2006-04-19 22:17:44,NaN,NaN
281,2178,philadelphia independence mall,2006-04-19 22:18:19,6.0,http://www.independencevisitorcenter.com
282,2178,babiesrus,2006-04-20 19:35:25,1.0,http://www.babiesrus.com
283,2178,-,2006-04-22 09:08:40,NaN,NaN
284,2178,securespeed.us,2006-04-22 09:10:00,NaN,NaN
285,2178,lily pads breast,2006-04-29 14:52:29,NaN,NaN
286,2178,army.mil,2006-05-03 09:17:05,NaN,NaN
287,2178,boppy covers,2006-05-08 13:14:00,NaN,NaN
289,2178,once upon a child,2006-05-09 09:55:46,2.0,http://eelement.inetium.com
290,2178,scott honda,2006-05-09 13:56:50,NaN,NaN
291,2178,braxton hicks contractions,2006-05-09 17:08:21,1.0,http://www.babycenter.com
292,2178,braxton hicks contractions,2006-05-09 17:08:21,7.0,http://www.pregnancy-info.net
293,2178,foods to avoid when pregnant,2006-05-09 19:32:42,4.0,http://www.americanpregnancy.org
294,2178,foods to avoid when breast feeding,2006-05-09 19:36:44,1.0,http://www.lalecheleague.org
295,2178,foods to avoid when breast feeding,2006-05-09 19:36:44,4.0,http://www.babycenter.com
296,2178,infant innoculation safety,2006-05-09 19:41:32,NaN,NaN
297,2178,hepatitis b vaccine safety infants,2006-05-09 19:43:37,2.0,http://www.vaccinesafety.edu
298,2178,hepatitis b vaccine safety infants,2006-05-09 19:43:37,6.0,http://www.immunize.org
299,2178,roth ira calculator,2006-05-09 19:53:35,5.0,http://www.statefarm.com
300,2178,roth ira calculator,2006-05-09 19:53:35,8.0,http://www.tcalc.com
301,2178,roth ira,2006-05-09 19:56:20,NaN,NaN
302,2178,roth ira,2006-05-09 19:58:07,NaN,NaN
303,2178,roth ira estimated value at retirement,2006-05-09 19:59:08,2.0,http://iraevaluator.fidelity.com
304,2178,roth ira estimated value at retirement,2006-05-09 19:59:08,8.0,http://www.ifigure.com